{% extends 'base_layout.html' %}
{% load i18n %}

{% block main_content %}
<h1>{% trans "Boxes" %}</h1>
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Amount" %}</th>
      <th>{% trans "Value" %}</th>
      <th>{% trans "Parent box" %}</th>
      <th>{% trans "Short description" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for box in object_list %}
    <tr>
      <td><a href="{% url 'bank:boxes_item' pk=box.pk %}">{{ box.name }}</a></td>
      <td>{{ box.amount }}</td>
      <td>{{ box.value }}</td>
      <td>{{ box.parent_box }}</td>
      <td>{{ box.short_description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block context_menu %}
<a href="{% url 'bank:boxes_new' %}" class="btn btn-success btn-block">{% trans "New box" %}</a>
{% endblock %}
