{% extends 'base_layout.html' %}
{% load i18n bs %}

{% block main_content %}
<h1>{% trans "Boxes" %}</h1>
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Amount" %}</th>
      <th>{% trans "Value" %}</th>
      <th>{% trans "Parent box" %}</th>
      <th>{% trans "Short description" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for box in object_list %}
    <tr>
      <td><a href="{% url 'bank:boxes_item' pk=box.pk %}">{{ box.name }}</a></td>
      <td>{{ box.amount }}</td>
      <td>{{ box.value }}</td>
      <td>{{ box.parent_box }}</td>
      <td>{{ box.short_description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<h2>{% trans "Transfer money" %}</h2>
<form method="post" class"form-inline">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% bs_field form.amount %}
  {% bs_field form.from_box %}
  {% bs_field form.to_box %}
  <button type="submit" class="btn btn-primary">{% trans "Transfer" %}</button>
</form>
{% endblock %}

{% block context_menu %}
<a href="{% url 'bank:boxes_new' %}" class="btn btn-success btn-block">{% trans "New box" %}</a>
{% endblock %}
