{% extends 'base_layout.html' %}
{% load static i18n %}

{% block main_content %}
<h1>{% trans "Dashboard" %}</h1>
<canvas id="graph-weekly" width=800 height=300></canvas>
<canvas id="graph-monthly" width=800 height=300></canvas>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static "lib/chartjs/Chart.js" %}"></script>
<script>
$(function() {
  var ctx = $('#graph-weekly');
  var weeklyChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: {{ graph_weekly.keys }},
      datasets: [
        {
          label: "weekly chart",
          data: {{ graph_weekly.values }},
        },
      ],
    },
  });
});

/*
    datasets: [
      {
        fillColor: "rgba(110, 110, 110, 0.2)",
        strokeColor: "rgba(110, 110, 110, 1)",
        pointColor: "rgba(110, 110, 110, 1)",
        pointStrokeColor: "#fff",
        pointHighlightFill: "#fff",
        pointHighlightStroke: "rgba(110, 110, 110, 1)",
      },
    ],
*/
$(function() {
  var ctx = $('#graph-monthly');
  var monthlyChart = new Chart(ctx , {
    type: 'bar',
    data: {
      labels: {{ graph_monthly.keys }},
      datasets: [
        {
          label: "monthly savings chart",
          data: {{ graph_monthly.values }},
        },
      ],
    },
  });
});
</script>
{% endblock %}
